.animation-container{
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
}

.frame {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: frameAnimation 1s steps(4) infinite;
  }
  
  .frame1 {
    animation: showFrame 0.5s infinite 1s;
  }
  
  .frame2 {
    animation: showFrame 1s infinite 1s;
  }
  
  .frame3 {
    animation: showFrame 1.5s infinite 1s;
  }

  .frame4{
    animation: showFrame 2s infinite 1s;
  }
  
  @keyframes showFrame {
    0%, 33.33% { opacity: 1; }
    33.34%, 100% { opacity: 0; }
  }